/*----------------------------------------------------- General */

body {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*----------------------------------------------------- Images */

.hero-img-home {
    position: relative;
    background: url('../images/hero-home-img-dsk-v3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: 60px;
}

.hero-img-home::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ffffff00 50%, #DDD0C8 100%); 
}

.hero-img-what-we-do {
    position: relative;
    background: url('../images/hero-what-we-do-2000px.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-top: 60px;
}

.hero-img-sustainability {
    position: relative;
    background: url('../images/sustainability-small-v1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-top: 60px;
}

.hero-img-who-are-we {
    position: relative;
    background: url('../images/who-are-we-v1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-top: 60px;
}

.hero-img-contact-us {
    position: relative;
    background: url('../images/contact-us-v1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-top: 60px;
}

.corp-travel-img {
    position: relative;
    background: url('../images/corporate-travel-small-v1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.private-jet-travel-img {
    position: relative;
    background: url('../images/private-jet-small-v1.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.marine-travel-img {
    position: relative;
    background: url('../images/marine-travel-small-v1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.group-travel-img {
    position: relative;
    background: url('../images/groups-small-v1.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.meeting-room-img {
    position: relative;
    background: url('../images/meetings-small-v1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.visa-travel-img {
    position: relative;
    background: url('../images/visas-small-v1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.ceo-img {
    background: url('../images/ceo-small.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    
}

.cfo-img {
    background: url('../images/cfo-small-v1.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
}

.hoops-img {
    background: url('../images/head-of-ops-small-v1.webp');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
}

.hoaacc-img {
    background: url('../images/head-of-accounts-small-v1.webp');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
}

.hoacc-man-img {
    background: url('../images/head-of-account-managment-small-v1.webp');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
}

.hocom-img {
    background: url('../images/head-of-commerrcials-small-v1.webp');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
}

/*----------------------------------------------------- Background Colours */

.why-section-bg-color,
.what-section-bg-color,
.sustainability-section-bg-color,
.who-are-we-section-bg-color,
.contact-us-section-bg-color {
    background-color: #DDD0C8;
}

/*----------------------------------------------------- Fonts */

h1, h2, h3, h5 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------- Nav Bar */

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    color: #DDD0C8;
    letter-spacing: 2px;
    margin-right: 0;
}

.navbar-brand:hover {
    color: #DDD0C8;
    text-decoration: underline
}

.nav-menu {
    background-color: #2f4858;
}

.navbar-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #DDD0C8;
    padding-top: 10px;
}

.hamburger-menu {
    background-color: #DDD0C8;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #DDD0C8;
    text-decoration: underline;
}

/*----------------------------------------------------- Home */

.question-section {
    position: absolute;
    top: 25%;
    right: 15px;
}

.question-section h1 {
    font-size: 70px;
    color: #2f4858;
}

.question-button {
    font-family: "Roboto", sans-serif;
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.question-button:hover {
    color: #2f4858;
    border-color: #2f4858;
}

.why-section-heading {
    color: #2f4858;
    padding-top: 40px;
}

.why-section-heading h2 {
    font-size: 65px;
    letter-spacing: 1px;
}

.why-section h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.why-section p {
    font-size: 18px;
}

.why-section-context {
    color: #2f4858;
    padding: 10px 20px 10px 20px;
}

#carouselExampleDark .carousel-item {
    min-height: 25vh;
  }

.customers h3,
.partner-logo-section h3 {
    padding-top: 2rem;
    font-size: 60px;
    color: #2f4858;
}

.video-background {
    background-color: #827686;
    border-radius: 50% 0 50% 0;
    padding: 5%;
}

.video {
    padding-bottom: 3rem;
}

.logo img {
    height: 60px;
    display: block; 
    margin: auto;
}

.logo {
    padding: 3rem 0 3rem 0;
}


/*----------------------------------------------------- Footer */

#footer-details {
    background-color: #2f4858;
    padding: 30px 0 30px 0;
}

.contact-hours-info h4,
.contact-hours-info p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #DDD0C8;
}

.contact-hours-info h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.contact-hours-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.contact-hours-info {
    padding-left: 30px;
}

.email-link {
    color: #DDD0C8;
}

.social-links {
    padding-right: 30px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #2f4858;
    background: #DDD0C8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links .facebook-color:hover {
    background-color: #3b5998;
    color: #DDD0C8
}

.social-links .linkedin-color:hover {
    background-color: #0077b5;
    color: #DDD0C8
}

.social-links .instagram-color:hover {
    background: linear-gradient(45deg, #f09433 10%, #e6683c 35%, #dc2743 60%, #cc2366 85%, #bc1888 100%);
    color: #DDD0C8
}

.social-links .youtube-color:hover {
    background-color: #c4302b;
    color: #DDD0C8
}

/*----------------------------------------------------- What We Do */

.what-text-content-section h1 {
    font-size: 70px;
    padding: 40px 0 20px 0;
    color: #2f4858;
    letter-spacing: 1px;
}

.what-text-content-section p,
.expertise-section p {
    font-size: 18px;
    color: #2f4858;
}

.what-text-content-section p {
    padding-bottom: 30px;
}

.expertise-section h3 {
    font-size: 50px;
    color: #2f4858;
    letter-spacing: 1px;
}

.expertise-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.expertise-text h5 {
    color: #DDD0C8;
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 10px;
}

.expertise-img-bg-color {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 290px;
    height: 290px;
    width: 290px;    
    background-color: #827686;
    border-radius: 50% 0 50% 0;
}

.expertise-section-img {
    margin: 2rem;
}



/*----------------------------------------------------- Sustainability */

.sustainability-section h1 {
    font-size: 70px;
    padding: 40px 0 20px 0;
    color: #2f4858;
    letter-spacing: 1px;
}

.sustainability-section p {
    font-size: 18px;
    color: #2f4858;
    padding-bottom: 20px;
}

.sustainability-section {
    padding-bottom: 10px;
}

/*----------------------------------------------------- Who Are We */

.meet-the-team h1 {
    font-size: 70px;
    padding: 40px 0 20px 0;
    color: #2f4858;
    letter-spacing: 1px;
}

.meet-the-team p,
.vision-section p,
.values-content p {
    font-size: 18px;
    color: #2f4858;
}

.vision-section h3,
.values-section h3 {
    font-size: 50px;
    color: #2f4858;
    letter-spacing: 1px; 
}

.staff-member {
    margin: 2rem;
}

.staff-names {
    position: absolute;
    top: 210px;
    width: 250px;
    text-align: center;
    background-color: rgba(47, 72, 88, 0.8);
    color: #DDD0C8;
    padding: 16px 0 5px;
}

.staff-names h5 {
    margin-bottom: 0;
}

.vision-section {
    padding-top: 60px
}

.values-section-row {
    padding: 20px 0 30px 0;
}

.values-content {
    padding: 10px;
}

/*----------------------------------------------------- Contact Us */

.form-group {
    margin: 1rem;
}

.contact-section h1 {
    font-size: 70px;
    padding: 40px 0 20px 0;
    color: #2f4858;
    letter-spacing: 1px;
}

label p {
    margin-bottom: 3px;
    font-size: 15px;
    color: #2f4858;
    font-weight: 500;
    font-style: italic;
}

.name,
.enquiry-type,
.email,
.contact-number,
.company-name,
.message {
    border: #A69199;
    background-color: #C4B0AE;
    color: #2f4858;
    border-style: solid;
}

.name::placeholder,
.email::placeholder,
.contact-number::placeholder,
.company-name::placeholder,
.message::placeholder {
    color: #2f4858;
    font-style: italic;
}

.submit-butt button {
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
    font-weight: 500;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.submit-button:hover {
    border-color: #2f4858;
    border-style: solid;
    color: #2f4858;
}

.address h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #2f4858;
}

.address p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2f4858;
}

.phone {
    padding-top: 15px;
}

.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.address-map-section {
    padding: 3rem 0 3rem;
}

/*----------------------------------------------------- Media Queries */

@media (max-width: 1024px) {

    .hero-img-home {
        background: url('../images/hero-home-1000px.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        margin-top: 60px;
    }

    .hero-img-what-we-do {
        position: relative;
        background: url('../images/hero-what-we-do-1000px.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 60px;
    }

    .question-section h1 {
        font-size: 55px;
    }

    .why-section-heading h2 {
        font-size: 45px;
        letter-spacing: 1px;
    }

    .customers h3,
    .partner-logo-section h3 {
        font-size: 40px;
    }

     .logo img {
        height: 50px;
        display: block; 
        margin: auto;
    }

    .logo {
        padding: 1rem 0 1rem 0;
    }

    .corp-travel-img,
    .private-jet-travel-img,
    .marine-travel-img,
    .group-travel-img,
    .meeting-room-img,
    .visa-travel-img {
        width: 200px;
        height: 200px;
    }

    .expertise-img-bg-color {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 220px;
        height: 220px;
        width: 220px;    
        background-color: #827686;
        border-radius: 50% 0 50% 0;
    }
    
    .expertise-section-img {
        margin: 1rem;
    }

    .expertise-text h5 {
        font-size: 18px;
    }

    .ceo-img,
    .cfo-img,
    .hoops-img,
    .hoaacc-img,
    .hoacc-man-img,
    .hocom-img {
        min-width: 210px;
        min-height: 210px;
        margin: 0;
    }

    .staff-names {
        top: 170px;
        width: 210px;
        padding-top: 14px;
    }

    .staff-names p {
        font-size: 15px;
    }

}

@media (max-width: 768px) {
 
    .logo-section {
        font-size: 35px;
    }

    .navbar-toggler {
        position: absolute;
        font-size: 24px;
        width: 40px;
        height: 30px;
        right: 0px;
        top: 22px;
    }

    .hamburger-menu span {
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        width: 30px;
        height: 20px;
    }

    .hero-img-home {
        background: url('../images/hero-home-img-mob-v2.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 60px;
    }

    .hero-img-home::before {
        background: linear-gradient(to right, #ffffff00, #DDD0C8); 
    }

    .hero-img-what-we-do {
        position: relative;
        background: url('../images/hero-what-we-do-768px.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 60px;
    }

    .hero-img-sustainability,
    .hero-img-who-are-we {
        height: 50vh;
    }

    .hero-img-contact-us {
        height: 30vh;
    }

    .question-section h1,
    .what-text-content-section h1,
    .sustainability-section h1,
    .meet-the-team h1,
    .contact-section h1 {
        font-size: 38px;
    }

    .customers h3,
    .partner-logo-section h3 {
        font-size: 40px;
    }

    .why-section-heading h2,
    .expertise-section h3,
    .vision-section h3,
    .values-section h3 {
        font-size: 40px;
    }

    .why-section p,
    .what-text-content-section p,
    .expertise-section p,
    .sustainability-section p,
    .meet-the-team p,
    .vision-section p,
    .values-content p,
    .address p  {
        font-size: 15px;
    }

    .contact-hours-info p {
        font-size: 13px;
    }

    #footer-details .social-icons {
        justify-content: center;
    }

    .social-links {
        padding-right: 0;
    }

    .address h5,
    .address p {
        padding-left: 20px;
    }

    #why-choose-carousel .carousel-item {
        min-height: 35vh;
      }
    
    .logo {
        padding: 1rem 0 1rem 0;
    }
}
/* --- This media query I sourced from ChatGPT---- */
@media screen and (max-width: 700px) {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .video-background {
      padding: 15px; 
    }
  
    .ratio {
      height: auto; 
    }
  }


@media (min-width:426px) and  (max-width:767px) {
    #why-choose-carousel .carousel-item {
        min-height: 50vh;
      }
}

@media (max-width: 425px) {
   
        
    .hero-img-home {
        height: 30vh;
    }

    .logo-section {
        font-size: 24px;
    }

    .navbar-toggler {
        top: 15px;
    }

    .question-section {
        top: 10%;
    }

    .button {
        padding: 5px 9px;
    }

    .question-section h1,
    .what-text-content-section h1,
    .sustainability-section h1,
    .meet-the-team h1 {
        font-size: 30px;
    }

    .customers h3,
    .partner-logo-section h3 {
        font-size: 30px;
    }

    .partner-logo-section h3{
        padding-top: 0;
    }

    .why-section-heading h2,
    .expertise-section h3,
    .vision-section h3,
    .values-section h3 {
        font-size: 35px;
        letter-spacing: 0;
    }

    .why-section h5 {
        font-size: 23px;
        letter-spacing: 0;
    }

    .why-section-context {
        padding-bottom: 10px;
    }

    #why-choose-carousel .carousel-item {
        min-height: 50vh;
      }

    .logo img {
        height: 40px;
        display: block; 
        margin: auto;
    }

}

@media (max-width: 320px) {
    
    .navbar-toggler {
        top: 9px;
    }
    
    .hero-img-home,
    .hero-img-what-we-do,
    .hero-img-sustainability,
    .hero-img-who-are-we,
    .hero-img-contact-us {
        margin-top: 40px;
    }

    .hero-img-home {
        /* background: url('../images/hero-home-330px.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        height: 20vh;
        /* margin-top: 60px; */
    }

    .question-section h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    .logo-section {
        font-size: 16px;
    }
    .contact-hours-info p {
        font-size: 10px;
    }

    #footer-details .social-icons {
        justify-content: center;
    }

    .social-links {
        padding-right: 0;
    }

    #why-choose-carousel .carousel-item {
        min-height: 60vh;
      }

    .logo img {
        height: 30px;
        display: block; 
        margin: auto;
    }

}