/*----------------------------------------------------- Images */

.hero-img-home {
    position: relative;
    background: url('../images/hero-home-small_v2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-img-home::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ffffff00, #DDD0C8);
}

/*----------------------------------------------------- Nav Bar */

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    color: #DDD0C8;
    letter-spacing: 2px;
}

.nav-menu {
    background-color: #2f4858;
}

.navbar-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #DDD0C8;
    padding-top: 10px;
}

.hamburger-menu {
    background-color: #DDD0C8;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #DDD0C8;
    text-decoration: underline;
}

/*----------------------------------------------------- Background Colours */

.why-section-bg-color {
    background-color: #DDD0C8;
}



/*----------------------------------------------------- Fonts */

h1, h3, h5 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------- Home */

.question-section {
    position: absolute;
    top: 25%;
    right: 15px;
}

.question-section h1 {
    font-size: 60px;
    color: #2f4858;
}

.question-button {
    font-family: "Roboto", sans-serif;
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
}

.question-button:hover {
    color: #2f4858;
    border-color: #2f4858;
}

.why-section-heading {
    color: #2f4858;
    padding-top: 40px;
}

.why-section-heading h3 {
    font-size: 50px;
    letter-spacing: 2px;
}

.why-section h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.why-section p {
    font-size: 18px;
}

.why-section-context {
    color: #2f4858;
    padding: 20px 20px 30px 20px;
}

/*----------------------------------------------------- Footer */

#footer-details {
    background-color: #2f4858;
    padding: 30px 0 30px 0;
}

.contact-hours-info h4,
.contact-hours-info p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #DDD0C8;
    font-family: 'Roboto', sans-serif;
}

.contact-hours-info h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.contact-hours-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.contact-hours-info {
    padding-left: 30px;
}

.email-link {
    color: #DDD0C8;
}

.social-links {
    padding-right: 30px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #2f4858;
    background: #DDD0C8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links .facebook-color:hover {
    background-color: #3b5998;
    color: #DDD0C8
}

.social-links .linkedin-color:hover {
    background-color: #0077b5;
    color: #DDD0C8
}

.social-links .instagram-color:hover {
    background: linear-gradient(45deg, #f09433 10%, #e6683c 35%, #dc2743 60%, #cc2366 85%, #bc1888 100%);
    color: #DDD0C8
}

.social-links .youtube-color:hover {
    background-color: #c4302b;
    color: #DDD0C8
}



/*----------------------------------------------------- What We Do */

/*----------------------------------------------------- Sustainability */

/*----------------------------------------------------- Who Are We */

/*----------------------------------------------------- Contact Us */
